@charset 'utf-8';

.breadcrumb {
  & ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    position: relative;

    &:not(:last-child) {
      &::after {
        position: relative;
        right: 0;
        content: '/';
        clear: both;
      }
    }

    & a {
      color: #333;
      text-decoration: none;
      display: block;
      padding: 0 15px;
      height: 48px;
      display: inline-flex;
      align-items: center;
      grid-gap: 10px;
    }
  }
}