@charset 'utf-8';
@use '../utils/variables' as *;

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  line-height: 1.618;
  background: $white;
  font-family: 'Roboto', sans-serif;
}

[data-theme='dark'] {
  & html {
    background-color: darken($color: $white, $amount: 80);
  }

  & body {
    background-color: darken($color: $white, $amount: 80);
  }
}

.hidden {
  display: none;
}
