@charset 'utf-8';
@use '../utils/variables' as *;

.section__auth {
  position: relative;
  width: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 384px;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 496px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 600px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 1fr 700px;
  }

  & .form {
    background-color: $white;
    padding-block: 60px 90px;
    padding-inline: 20px;

    @media (min-width: 768px) {
      padding-inline: 20px;
    }

    @media (min-width: 992px) {
      padding-inline: 30px;
    }

    @media (min-width: 1200px) {
      padding-inline: 40px;
    }

    @media (min-width: 1400px) {
      padding-inline: 60px;
    }

    & .wrapper {
      display: grid;
      align-self: center;
      grid-gap: 15px;
    }

    & .title {
      text-align: center;
    }

    & .subtitle {
      font-size: 18px;
      text-align: center;
      margin-bottom: 15px;
      color: darken($color: $white, $amount: 70);
    }

    & .group {
      display: flex;
      grid-gap: 15px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 15px;

      &-actions {
        margin-top: 30px;

        & .btn {
          min-width: 200px;
          justify-content: center;
        }
      }

      & .separator {
        display: none;
      }

      @media (min-width: 992px) {
        & .separator {
          &-y {
            width: 1px;
            height: 24px;
            background-color: #ddd;
            display: block;
          }
        }
      }

      & a,
      & .btn-primary-link {
        font-size: 18px;
        text-decoration: none;
        min-width: 200px;
        text-align: center;
        line-height: 1.314;
        border-radius: 3px;
        color: darken($color: $white, $amount: 50);
        background-color: darken($color: $white, $amount: 0);
        justify-content: center;


        &.hover {

          &-right,
          &-left {
            & svg {
              position: relative;
            }
          }

          &-right {
            & svg {
              right: 0;
              transition: right 0.3s ease;
            }

            &:hover {
              & svg {
                right: -8px;
              }
            }
          }

          &-left {
            & svg {
              left: 0;
              transition: left 0.3s ease;
            }

            &:hover {
              & svg {
                left: -8px;
              }
            }
          }
        }

        &.active {
          color: darken($color: $black, $amount: 10);
          background-color: darken($color: $white, $amount: 5);
        }
      }
    }
  }

  & .figure {
    display: none;
  }

  @media (min-width: 768px) {
    & .figure {
      position: relative;
      inset: 0;
      width: 100%;
      background-image: url('/assets/image/photo/bg-auth-5.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      z-index: -1;
      display: block;

      &::after {
        position: absolute;
        inset: 0;
        content: '';
        clear: both;
        background-color: rgba($color: $black, $alpha: 0.35);
        // backdrop-filter: blur(5px);
      }
    }
  }
}